html,body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;

}
.container{
padding:.5em

}
section {
  margin-top:5em;

}

h1{
 background-color:royalblue;
  color:white;
  border-radius:20px;
  padding:.5em 0;
}

h3{
color:red;
}
.container .nav-tabs {
  margin-top: 5em;
}

p{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a {
  outline:0;
}

.nav-tabs {
  border-color:red;
  }

.nav-tabs li a:link, .nav-tabs li a:visited {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;  
}

.nav-tabs li.active a{
    background-color:royalblue;
    color:white;
    border-color:red;
 }

.nav-tabs li a:hover,.nav-tabs li.active a:hover{
    background-color:pink;
    color:white;
}

.navbar {
  background-image:none;
  background-color: royalblue; 
  border-color: royalblue;
}

.navbar .navbar-brand, .navbar ul.nav li a:link, .navbar ul.nav li a:visited, .navbar ul.nav li  a:hover{
  color : white;
  font-weight:bold;
  text-shadow:none
}

.navbar ul.nav li {
  font-family : Verdana, Helvetica, sans-serif;
  font-size : 1em;
  margin:0 .7em;
}

.navbar ul.nav li.dropdown >ul.dropdown-menu a:link, .navbar ul.nav li.dropdown >ul.dropdown-menu a:visited{
  color:black;
  font-weight:bold;
}

ul.nav li.dropdown ul{
  margin-top:.1em;
  opacity:.9;
}

 .navbar .nav li.dropdown.open .dropdown-toggle {
  color:white;
  background-color:royalblue;
  background-image:none;
  box-shadow:none;
}

.navbar ul.nav li.dropdown >ul.dropdown-menu a:hover{
  background-image:none;
  background-color:white;
  color:black;
}

.navbar-inverse .navbar-toggle{
  border-color:white;
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{
  background-color:black;
} 

table, th, td {
 border: 1px solid black;
 } 
table {
 border-collapse:collapse; width:50%; 
} 
th{ 
text-align: center; background-color: gray; color: white; padding: 0.2em; 
} 
td { 
padding: 0.2em;
text-align: left;
 }

tbody tr:nth-of-type(odd) { 
background-color: #ddd; 
} 

tbody tr:nth-of-type(even) { 
background-color: #f3f3f3; 
}

tbody tr:hover { 
cursor:pointer; 
background-color: gray; 
color: white; 
}

caption { 
caption-side:bottom; 
text-align:center; 
}

#carousel-example {
 width:400px;
 border:white solid 16px;
}
